body {
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6f6f6f;
    background: #dfdfdf;
}

h1, h2, h3 {
    margin-top: 0px;
    font-weight: normal;
    color: #6f6f6f;
}

h1 {
    letter-spacing: -1px;
    font-size: 34px;
}

a {
    color: #6f6f6f;
    text-decoration: none;
}

span {
    color: red;
}

label {
    display: none;
}

#wrapper {
    width: 940px;
    background: #FFF;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px; /* for Safari */
    -moz-border-radius: 10px; /* for Firefox */
}

.inputText {
    margin: 0 0 20px 0;
    padding: 6px;
    color: #6f6f6f;
    border: 1px solid #dfdfdf;
    font: normal 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px; /* for Safari */
    -moz-border-radius: 10px; /* for Firefox */
}

.inputCombo {
    margin: 0 0 20px 0;
    padding: 6px;
    width: 240px;
    color: #6f6f6f;
    border: 1px solid #dfdfdf;
    font: normal 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.inputSubmit {
    height: 30px;
    width: 130px;
    border: 3px solid;
    font-weight: bold;
    background: #ffffff;
    color: #7ea8ab;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 15px; /* for Safari */
    -moz-border-radius: 15px; /* for Firefox */
}

.inputAnswerSubmit {
    height: 100px;
    width: 160px;
    border: none;
    /*background: #a2a2a2;*/
    color: #3d4e51;
    text-align: center;
    cursor: pointer;
    outline:none;
    border-radius: 20px;
    -webkit-border-radius: 15px; /* for Safari */
    -moz-border-radius: 15px; /* for Firefox */
}

.survey {
    width: auto;
    padding: 20px;
    background: #FFF;
    /*border: 1px solid #7ea8ab;*/
    font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px; /* for Safari */
    -moz-border-radius: 10px; /* for Firefox */
}

.surveyBar {
    margin-top: 5px;
    font-size: 11px;
    background: #d1d1d1;
    color: #6f6f6f;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px; /* for Safari */
    -moz-border-radius: 5px; /* for Firefox */
}

.error {
    color: #ff7c77;
}

#progressbar {
    background-color: #dbdbdb;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 0px;
    margin-left: 250px;
    margin-right: 250px;
    #width: 50%;
}

#progressbar > div {
    background-color: #7ea8ab;
    width: 46%;
    /* Adjust with JavaScript */
    height: 10px;
    border-radius: 10px;
}